*{
    margin: 0;
    padding: 0;
}
.time{
    background-color: rgba(120, 64, 64, 0.263);
    color: whitesmoke;
    width: 40%;
    height: 10vh;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 221, 221, 0.25) 0 25px 25px, #0000001f 0px 20px 20px, rgba(242, 222, 222, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(231, 217, 217, 0.09) 0px -3px 5px;
}

.center{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(10, 89, 89, 0.375); */
    /* background-image: url(https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_640.jpg); */
    /* background-size: cover; */
    /* border-radius: 20vw; */
}

.back{
    border-radius:35px;
    width: 50%;
    height: 50vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/vestrahorn-mountains-stokksnes-iceland_335224-667.jpg?size=626&ext=jpg&ga=GA1.1.1887755153.1689430244&semt=ais);
    background-size: cover;
    background-repeat:no-repeat ;
    /* background-position: left; */

}
h2{
    font-size: 23px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media screen and (max-width: 600px) {
    .back{
        background-position: center;
        height: 100vh;
    }
    .time{
        width: 62%;
    }
}
@media screen and (max-width: 800px) {
    .back{
        background-position: center;
        height: 38vh;
    }
    
}

.toogle{
    background-color: rgba(54, 127, 54, 0.545);
}